body {
    background-color: #123456;
}

.gameResult {
    margin-top: 100px;
    font-size: 2rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

button {
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    color: rgb(0, 255, 242);
}

.winnerCounter {
    margin: 0 auto;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}

.inline {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}